* {
  box-sizing: border-box;
}

/*.Main-heading {
  position: fixed;
  left: 5%;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 50px;
  color: yellow;
  background-color: lightblue;
}

.Grid-container {
  display: grid;
  grid-template-columns: 16% 70%;
  margin-left: 20%;
  margin-top: 7%;
}
*/
